# Entorno virtual
venv/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Compilaciones de Python
__pycache__/
*.py[cod]
*.so

# Archivos de log
*.log

# Archivos temporales de editor
*.swp
*.swo
*.bak
*~

# Configuración de PyCharm / VS Code
.idea/
.vscode/

# Archivos de entorno y configuración sensible
.env
.env.*

# Base de datos local
*.sqlite3
*.db

# Archivos comprimidos o temporales
*.zip
*.tar
*.gz

venv_faiss
vectorstore_clientes